@page "/sair"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo ="Typo.h3">Finalizando Sessão...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-content-center pb-8 pt-8">
        <img src="images/dima.png" alt="Dima - Eventos como Diamantes" width="200" />
    </div>
    <MudAlert Severity="Severity.Info">
        <div>
            sessão Finalizada...
            <MudButton Variant="Variant.Text" Href="/">
                IR PARA A TELA DE LOGIN
            </MudButton>
        </div>
    </MudAlert>
</MudPaper>