<div class="d-flex justify-content-center pb-8 pt-8">
    <img src="images/logo.png" alt="Dima - Eventos como Diamantes" width="200" />
</div>
<MudNavMenu>
    @* <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink> *@
    @* <MudNavLink Href="/lancamentos/historico">Histórico</MudNavLink> *@
    @* <MudNavLink Href="/categorias">Categorias</MudNavLink> *@
    <MudNavLink Href="/eventos">Eventos</MudNavLink>
    @* <MudNavLink Href="/premium">Premium</MudNavLink> *@
    <MudNavLink Href="/eventos/adicionar">Adicionar Eventos</MudNavLink>
    <MudNavLink Href="/convites">Convites</MudNavLink>


    <MudNavLink Href="/sair">Sair</MudNavLink>
</MudNavMenu>

@code {

}
